main {
  margin-left: 250px;
  transition: 0.3s;
}
.sidebar {
  transition: 0.3s;
}
.show-sidebar {
  transform: translateX(0);
  transition: 0.3s;
}
@media (max-width: 768px) {
  main {
    margin-left: 0;
  }
  .sidebar {
    transform: translateX(-100%);
  }
}